/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* import custom font from public folder */
@font-face {
  font-family: "CaskaydiaCoveNerdFontMono";
  src: url("/fonts/CaskaydiaCoveNerdFontMono-Regular.ttf");
}
